<div>
  <div>
    <h1>
      Product #<%= @the_product.id %> details
    </h1>

    <div>
      <div>
        <a href="/products">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_product/<%= @the_product.id %>">
          Delete product
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_product.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_product.description %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @the_product.price %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_product.category_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_product.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_product.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit product
    </h2>

    <form action="/modify_product/<%= @the_product.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_product.name %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_product.description %>">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_product.price %>">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id" value="<%= @the_product.category_id %>">
      </div>

      <button>
        Update product
      </button>
    </form>
  </div>
</div>

<hr>
